body {
    background:#f0f2f5 ;
}

.container {
    position: relative;
    border: 1px solid blue;
    padding: 50px;
    background: blue;
    width: 340px;
    height: 380px;
    border-radius: 8px;
    margin: 50px auto;
    margin-left: 620px;
}

.phrase {
    position: absolute;
    top: 44%; 
    left: 62%; 
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: white;
}

.word {
    position: absolute;
    top: 38%; 
    left: 62%; 
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}

.btn-primary {
    background-color: blue;
    border-color: white;
    color:white;
    margin-left: 760px;
    width: 150px;
    padding: 12px;
    transform: translateY(-240px);
}

.main-form {
    border: 1px solid white;
    padding: 50px;
    background: white;
    width: 350px;
    height: 290px;
    transform: translateY(-530px);
    margin-left: 200px;
    border-radius: 8px;
    position: relative;
}

.form-control {
    transform: translateY(30px);
	margin-left: -10px;
	height: 13%;
	width: 100%;
	padding: 14px;
	margin-bottom: 10px;
	border-radius: 8px;
	border: 1px solid #dddfe2;
	outline-color: blue;
}


.icone {
    position: absolute;
    top: 26%;
    transform: translateY(-17%);
    left: 60px;
    max-width: 60px;
    max-height: 30px;
}

.barra {
    position: absolute;
    top: 26%;
    transform: translateY(-3%);
    left: 117px; 
    font-size: 20px;
}

.password {
    transform: translateY(40px);
	margin-left: -10px;
	height: 13%;
	width: 100%;
	padding: 14px;
	margin-bottom: 10px;
	border-radius: 8px;
	border: 1px solid #dddfe2;
	outline-color: blue;
}

.key {
    position: absolute;
    top: 50%;
    transform: translateY(-32%);
    left: 65px;
    max-width: 60px;
    max-height: 30px;
}

.lock {
    position: absolute;
    top: 48%;
    transform: translateY(-1%);
    left: 117px; 
    font-size: 20px
}

.second-word {
    position: absolute;
    top: 18%; 
    left: 31%; 
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: black;
}

.separator {
    width: 125px;
    border: 1px solid #000; 
    transform: translateY(-865px) ;
    margin-left: 346px;
}

.third-word {
    position: absolute;
    top: 56%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: black;
}

.verificar {
    top: 300px;
    transform: translateY(-652px);
    margin-left: 240px;
}

.repository {
    top: 400px;
    transform: translateY(-687px);
    margin-left: 265px;
}

.btn-second {
    background-color: blue;
    border-color: white;
    color:white;
    margin-left: 340px;
    width: 150px;
    padding: 12px;
    transform: translateY(-680px);
    border-radius: 8px;
}

.line {
    width: 118px;
    border: 1px solid #000; 
    transform: translateY(-635px) ;
    margin-left: 470px;
}