body {
    background: #f0f2f5;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid white;
    padding: 50px;
    background: white;
    width: 100px;
    height: 540px;
    border-radius: 5px;
    margin: -10px auto;
    margin-left: -7px;
}

.title {
    text-align: center;
    position: absolute;
    top: 8px;
    margin-left: -28px;
    transform: translate(-50%, -50%);
    font-size: 29px;
    color: green;
}

.second-title {
    position: absolute;
    top: 8px;
    margin-left: 18px;
    transform: translate(-50%, -50%);
    font-size: 29px;
    color: blue;
}

.profile {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -570px;
    margin-left: 37px;
}

.profile img {
    width: 85px;
    height: 85px;
    margin-top: 1px;
    margin-left: 1px;
    object-fit: cover;
    object-position: center;
}

.name {
    align-items: center;
    position: absolute;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 22px;
    color: gray;
}

.customers {
    align-items: center;
    color: gray;
    font-size: 23px;
    margin-top: 70px;
    margin-left: 50px;
}

.second-container {
    align-items: center;
    margin-top: -48px;
    margin-left: 18px;
}

.bancos {
    color: gray;
    font-size: 23px;
    margin-top: 39px;
    margin-left: 49px;
}

.firts-container {
    align-items: center;
    margin-top: -49px;
    margin-left: 17px;
}

.conta {
    color: gray;
    align-items: center;
    font-size: 23px;
    margin-left: 47px;
    margin-top: 35px;
}

.third-container {
    align-items: center;
    margin-top: -48px;
    margin-left: 19px;
}

.agência {
    color: gray;
    align-items: center;
    font-size: 23px;
    margin-left: 47px;
    margin-top: 38px;
}

.four-container {
    align-items: center;
    margin-top: -48px;
    margin-left: 15px;
}

.sub-container {
    background: white;
    margin-top: -440px;
    width: 1296px;
    border: 1px solid white;
    padding: 30px;
}

.navegation-button {
    margin-left: 190px;
    height: 45px;
    padding-left: 40px;
    border-radius: 10px;
    border: 1px solid gray;
}

.five-container {
    margin-left: 200px;
    margin-top: -36px;
}

.sub-title {
    font-size: 47px;
    margin-top: 30px;
    margin-left: 570px;
}

.name-complete {
    color: gray;
    margin-top: 50px;
    margin-left: 264px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.button-name {
    height: 35px;
    width: 450px;
    margin-top: -50px;
    margin-left: 258px;
    border-radius: 8px;
    border: 1px solid gray;
}

.Date {
    margin-bottom: 10px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: -63px;
    margin-left: 775px;
}

#dia,
#mes,
#ano,
select {
    position: relative;
    height: 35px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid gray;
    top: -5px;
    left: 770px;
}

.CPF {
    color: gray;
    margin-top: 20px;
    margin-left: 264px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.button-CPF {
    height: 35px;
    width: 450px;
    margin-top: -90px;
    margin-left: 260px;
    border-radius: 8px;
    border: 1px solid gray;
}

.address {
    position: relative;
    color: gray;
    margin-top: -61px;
    margin-left: 775px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.button-address {
    height: 35px;
    width: 500px;
    margin-top: -30px;
    margin-left: 770px;
    border-radius: 8px;
    border: 1px solid gray;
}

.phone-number {
    color: gray;
    margin-top: 25px;
    margin-left: 265px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.button-phone {
    height: 35px;
    width: 450px;
    margin-top: -100px;
    margin-left: 260px;
    border-radius: 8px;
    border: 1px solid gray;
}

.email {
    color: gray;
    margin-top: -60px;
    margin-left: 774px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.button-email {
    height: 35px;
    width: 500px;
    margin-top: -50px;
    margin-left: 770px;
    border-radius: 8px;
    border: 1px solid gray;
}

.cancel-button {
    color: white;
    width: 90px;
    height: 34px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: gray;
    margin-left: 1100px;
    margin-top: 50px;
    cursor: pointer;
}

.SA-button {
    position: absolute;
    width: 90px;
    height: 34px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: black;
    margin-left: 10px;
    margin-top: 50px;
}